{% extends 'base.html' %}

{% block title %}UniDoc - Projects{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Projects</h1>
    
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Project List</h5>
                    <p class="card-text">Loading projects...</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 